.container {
    display: flex;
    height: 48px;
}

.leftSide,
.rightSide {
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerSide {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftSide a,
.rightSide a {
    width: calc(var(--default-size) * 10);
    height: calc(var(--default-size) * 10);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--default-size);
}

.buttonTransparent {
    background-color: var(--main-shadow-button);
}

.title {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: var(--size-sb);
    font-size: calc(var(--default-size) * 5);
    line-height: calc(var(--default-size) * 6);
    text-align: center;
    color: var(--main-black);
}

.subTitle {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: var(--size-r);
    font-size: calc(var(--default-size) * 3);;
    line-height: calc(var(--default-size) * 4);
    text-align: center;
    color: var(--main-sub-gray-2);
}