.container {
    margin-bottom: calc(5 * var(--default-size));
}

.swiper {
    width: 100%;
    height: 100%;
    box-shadow: var(--default-zero) calc( 2 * var(--default-size) ) calc( 8 * var(--default-size)) var(--main-shadow);
    border-radius: calc( 2 * var(--default-size) );
}

.slide {
    text-align: center;
    font-size: calc( 4 * var(--default-size));
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bannerImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    object-fit: cover;
    background: red;
    color: white;
}