.container {
    display: flex;
    align-items: center;
    border: 1px solid var(--main-notQt);
    border-radius: var(--default-size);
    overflow: hidden;
}

.trashIcon {
    width: calc(var(--default-size)*6);
    height: calc(var(--default-size)*6);
    border-radius: var(--default-size);
    margin-top: var(--default-size);
    float: right;
}

.buttonQt {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: var(--size-sb);
    font-size: calc(var(--default-size) * 5);
    line-height: calc(var(--default-size) * 6);
    text-align: center;
    color: var(--main-white);
    background-color: var(--main-black);

    width: calc(var(--default-size)*10);
    height: calc(var(--default-size)*10);
}

.contentQt {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: var(--size-b);
    font-size: calc(var(--default-size) * 4);
    line-height: calc(var(--default-size) * 4);
    text-align: center;
    padding: var(--default-zero) calc(var(--default-size) * 3);
    color: var(--main-black);
}