.container {
  background-color: var(--main-white);
  position: relative;
}

.header {
  background-color: var(--main-gray);
  padding: calc( 10 * var(--default-size)) calc( 5 * var(--default-size)) calc( 6 * var(--default-size)) calc( 5 * var(--default-size));
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: calc( 6 * var(--default-size)); 
}

.headerBottom {

}

.headerTopLeft {

}

.headerTitle {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: var(--size-sb);
  font-size: calc(5 * var(--default-size));
  line-height: calc( 6 * var(--default-size));
  text-align: center;
  color: #1B1B1B;
  margin-bottom: calc(2 * var(--default-size));
}

.headerSubTitle {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: var(--size-r);
  font-size: calc(3 * var(--default-size));
  line-height: calc(4 * var(--default-size));
  color: var(--main-gray-transparent);
}

.headerTopRight {

}

.menuButton {
  width: calc(4 * var(--default-size));
  height: calc(3 * var(--default-size));

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.menuButtonLines {
  width: 100%;
  height: calc(var(--default-size) / 2);
  background-color: var(--main-black);
}

.headerBottom {

}

.body {
  width: auto;
  height: auto;
  margin: calc( 5 * var(--default-size));
}

.grid {
  display: grid;
  gap: calc(5 * var(--default-size));
  grid-template-columns: repeat(2, 1fr);
}