.container {
    background-color: var(--main-white);
    padding: calc(var(--default-size) * 10) calc(var(--default-size) * 4.8);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainBody {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.list {
    flex: 1;
    border-top: var(--line-size) solid var(--main-color-line);
}